PORT=8080
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=school_user
DB_PASSWORD=school_password
DB_NAME=school_management

# Docker MySQL root password
MYSQL_ROOT_PASSWORD=root_password
